{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
    <title>Edit</title>
</head>
<body>
    <h2 class="create-title" style="color: red;">Edit Student Details !!</h2>
    <div class="add_data">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ frm.as_p }}
            <input type="submit" value="Submit">
        </form>
        <div class="home-wrapper">
            <a href="{% url 'home' %}" class="home-btn">Back to Home</a>
        </div>
    </div>
</body>
</html>